{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    Your Choice
{% endblock %}

{% block content %}

    <div class="form-group required">
        {% if player.id_in_group == 1 %}
            <table class='table table-bordered text-center'
            style='width: auto; margin: auto'>
                <tr>
                    <th colspan=2 rowspan=2></th>
                    <th colspan=2>The Other Participant</th>
                </tr>
                <tr>
                    <th>Enter</th>
                    <th>Exit</th>
                </tr>
                <tr>
                    <th rowspan=2><span style="transform: rotate(-90deg);">You</span></th>
                    <th>Enter</th>
                    <td>{{ player.bothenter_p1_payoff}}, y/3</td>
                    <td>{{ player.p1enter_p1_payoff }}, 0</td>
                </tr>
                <tr>
                    <th>Exit</th>
                    <td>{{ player.p1exit_p1_payoff }}, y</td>
                    <td>{{ player.bothexit_p1_payoff }}, 0</td>
                </tr>
            </table>
        {% else %}
            <table class='table table-bordered text-center'
            style='width: auto; margin: auto'>
                <tr>
                    <th colspan=2 rowspan=2></th>
                    <th colspan=2>You</th>
                </tr>
                <tr>
                    <th>Enter</th>
                    <th>Exit</th>
                </tr>
                <tr>
                    <th rowspan=2><span style="transform: rotate(-90deg);">Other Participant</span></th>
                    <th>Enter</th>
                    <td>x/3, {{ player.bothenter_p2_payoff }}</td>
                    <td>x, {{ player.p2exit_p2_payoff }}</td>
                </tr>
                <tr>
                    <th>Exit</th>
                    <td>0,{{ player.p2enter_p2_payoff }}</td>
                    <td>0,{{ player.bothexit_p2_payoff }}</td>
                </tr>
            </table>
        {% endif %}
    </div>
    <div>
        <button name="decision" value="Enter" class="btn btn-primary btn-large">I will enter.</button>
        <button name="decision" value="Exit" class="btn btn-primary btn-large">I will exit.</button>
        {{ form.decision.errors }}
    </div>

    <p>Here you can chat with the other participant.</p>

    {% chat %}


    {% include Constants.instructions_template %}

{% endblock %}
