{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    Introduction
{% endblock %}

{% block content %}

<div>
    <h3>
        Instructions
    </h3>

    <link rel="stylesheet" type="text/css"
          href="{% static 'global/matrix.css' %}"/>

    The experiment in which you will participate involves the study of decision-making. If you follow the instructions carefully and make wise decisions, you may earn a considerable amount of money. Your earnings depend on your decisions. All of your decisions will be collected through a computer network. Your choices are to be made at the computer at which you are seated. Your earnings will be revealed to you as they accumulate during the course of the experiment. Along with a $7 participation payment, you will be paid your cumulative earnings from the experiment in cash at the end of the experiment.
    You are requested not to talk to one another at any time during the experiment. If you have any questions, raise your hand and a monitor will assist you. It is important that you understand the instructions. Misunderstandings can result in lower earnings. Finally, we ask that even after the experiment is over you not discuss the details of this experiment with anyone.
    There are several experiments of the same type taking place at the same time in this room.
    This experiment consists of 60 rounds. You will be paired with another anonymous person. This person will remain the same for all 60 rounds.
    
    <h3>Your Information</h3>
    At the beginning of each round, you and the person with whom you are paired each receives a randomly drawn number between 1 and 5 inclusive. You will see your number, and learn the other person's number only after the round ends.
    
    <h3>Decision Stage</h3>
    After you've seen your number and the other person has seen his number, each of you must decide separately between one of two actions: enter or exit.
    
    <h3>Round Profit</h3>
    <p>At the end of each round, your number, your decision, and the other person’s decision determine your round profit in the following way.</p>
    <p>- If you both chose to exit, then you both receive zero points.</p>
    <p>- If you chose to exit and the other person chose to enter, then you receive zero points and the other person receives points equal to his number.</p>
    <p>- If you chose to enter and the other person chose to exit, then you receive points equal to your number and the other person receives zero points.</p>
    <p>- If you both chose to enter, then you receive points equal to one-third of your number and the other person receives points equal to one-third of his number.</p>
    <p>Summary of the payoff structure. Suppose you receive a number, x, and the other person receives a number, y. The round profits for each of the given pair of decisions are indicated in the table below. The number preceding the comma refers to your round profit; the number after the comma is the other person’s round profit.</p>
    <h3>Total Payment</h3>
    After you have both made your decisions for the round, you will see the amount of points you have earned for the round and the other person’s decision and number. Please record these results from each round in your Personal Record Sheets. When you are ready to begin the next round, press Continue.
    <h3>Thank you for your participation</h3>
    Each round follows this same sequence of events. At the end of the experiment, you will be paid your accumulated earnings from the experiment in cash plus a $7 participation payment. Each point earned in the experiment is equivalent to 35 cents ($0.35 USD). While the earnings are being counted, you will be prompted to complete a questionnaire.
    Prior to the beginning of the experiment, you will partake in five practice rounds. The profits earned in these practice rounds will not be included in your payment. The rules of the practice rounds are otherwise identical to those of the experiment in which you will participate. The purpose of the practice rounds is to familiarize you with the rules of the experiment and the computer interface. Note well that for the purpose of the practice rounds, you will be paired with a different person from the actual experiment.

    <p>Generic payout matrix:</p>

    <table class='table table-bordered text-center'
    style='width: auto; margin: auto'>
        <tr>
            <th colspan=2 rowspan=2></th>
            <th colspan=2>Player 2</th>
        </tr>
        <tr>
            <th>Enter</th>
            <th>Exit</th>
        </tr>
        <tr>
            <th rowspan=2><span style="transform: rotate(-90deg);">Player 1</span></th>
            <th>Enter</th>
            <td>x/3, y/3</td>
            <td>x, 0</td>
        </tr>
        <tr>
            <th>Exit</th>
            <td>0, y</td>
            <td>0, 0</td>
        </tr>
    </table>

</div>

    {% include Constants.instructions_template %}

    {% next_button %}

{% endblock %}
